In [25]:
import pandas as pd
import numpy as np

In [26]:
data=pd.read_csv('secboost.csv')
data.head()

,Organization: Account Name,Primary Coach: Full Name,Customer Number,Gender,Age,Highest Education Achieved,Race,Ethnicity,Employment Type,Assets Balances Baseline Amount,Debt Baseline Amount,Debt w/o Mortgage Baseline Amount,Banking Baseline Amount,Banking Status at Time of First Meeting,Benefits,Income Supports,Credit Score Baseline Amount,Credit Invisible
0,Isaacs Center (SectorBOOST),Katherine Robles,166016,Male,22.0,High School Diploma or Equivalent (GED),Black/African-American,Not of Hispanic Origin,NaN,NaN,NaN,NaN,NaN,Checking and Savings,NaN,NaN,NaN,0
1,Isaacs Center (SectorBOOST),Katherine Robles,189932,Female,21.0,"Some College (1-4 years, no degree)",Multiracial,Hispanic Origin,NaN,162.0,17893.0,17893.0,480.0,Checking,NaN,NaN,587.0,0
2,The Knowledge House (SectorBOOST),Merrishel Richardson,168609,Male,NaN,Bachelor's Degree,Black/African-American,Hispanic Origin,NaN,NaN,NaN,NaN,NaN,Checking and Savings,NaN,NaN,NaN,0
3,The Knowledge House (SectorBOOST),Merrishel Richardson,169698,Male,29.0,"Some College (1-4 years, no degree)",Multiracial,Hispanic Origin,NaN,NaN,NaN,NaN,NaN,Checking,NaN,NaN,NaN,0
4,The Knowledge House (SectorBOOST),Merrishel Richardson,195440,Male,23.0,High School Diploma or Equivalent (GED),Black/African-American,Not of Hispanic Origin,NaN,NaN,NaN,NaN,NaN,Checking,NaN,NaN,NaN,0

In [27]:
data['Debt Baseline Amount'].mean()

7752.865853658536

In [28]:
data['Debt Baseline Amount'].sum()

635735.0

In [29]:
data['Debt Baseline Amount'].isnull().value_counts()

False    82
True     33
Name: Debt Baseline Amount, dtype: int64

In [30]:
data.describe()

,Customer Number,Age,Assets Balances Baseline Amount,Debt Baseline Amount,Debt w/o Mortgage Baseline Amount,Banking Baseline Amount,Credit Score Baseline Amount,Credit Invisible
count,115.000000,104.000000,92.000000,82.000000,82.000000,95.000000,84.000000,115.000000
mean,176397.643478,23.538462,1634.934783,7752.865854,7752.865854,184.884211,425.880952,0.208696
std,11384.655108,3.358580,4131.637179,17438.668579,17438.668579,611.371720,294.513951,0.408155
min,160242.000000,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,165815.000000,21.000000,8.500000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,175088.000000,23.000000,515.000000,1254.500000,1254.500000,0.000000,556.000000,0.000000
75%,182539.500000,25.000000,1410.000000,10333.750000,10333.750000,42.000000,643.250000,0.000000
max,198918.000000,37.000000,34571.000000,118365.000000,118365.000000,4800.000000,756.000000,1.000000

In [31]:
#Average Assets Balance Baseline Amount = $1634.93
#Average Debt/Non Mortgage Debt Baseline Amount = $7752.87
#Average Banking Baseline Amount = $184.88

In [32]:
data['Banking Status at Time of First Meeting'].value_counts()

Checking and Savings    43
Checking                32
None                     9
Savings                  2
Name: Banking Status at Time of First Meeting, dtype: int64

So 77 out of the 86 customers who filled this section out have either a checking or savings account or both. They also have a high amount of banking transaction costs, $184.88 on average. I am interested to see what exactly these costs are that they are incurring even with formal bank accounts and why.

In [33]:
data['Highest Education Achieved'].value_counts()

Some College (1-4 years, no degree)                            51
High School Diploma or Equivalent (GED)                        35
Bachelor's Degree                                              15
Associate's Degree                                              6
Less than High School Diploma                                   3
Certification from Vocational or Technical Training Program     1
Name: Highest Education Achieved, dtype: int64

looking at the breakdown of education, it seems like the majority of the customers have been to some college but have not gotten their degree. Are students not able to afford higher education and droping out? What other reasons might influence why the majority of customers have some college but no degree.

In [34]:
data['Gender'].value_counts()

Female                  67
Male                    41
Prefer not to answer     2
Transgender              1
Name: Gender, dtype: int64

In [35]:
#put the data frame through the Race and Ethnicity cleaning script you have and get a breakdown of race/ethnicity

In [36]:
data1=data[data['Credit Score Baseline Amount']>1]

In [39]:
#average Credit score 616.7
data1['Credit Score Baseline Amount'].mean()

616.7931034482758

In [40]:
data2=data.dropna(subset=['Credit Score Baseline Amount'])

In [42]:
#Out of 84 people that a credit score only 24 people with a credit invisible. 
data2['Credit Invisible'].value_counts()

0    60
1    24
Name: Credit Invisible, dtype: int64

In [43]:
data['Race_Eth']= data['Race'].map(str)+' '+data['Ethnicity']

In [44]:
for index, row in data.iterrows():
    
    h=data.get_value(index,'Race_Eth')
    
    if h=='Prefer not to answer Hispanic Origin':
        data.set_value(index,'Race_Eth',4)
    elif h=='White/Caucasian Hispanic Origin':
        data.set_value(index,'Race_Eth',4)
    elif h=='Multiracial Hispanic Origin':
        data.set_value(index,'Race_Eth',4)
    elif h=='Black/African-American Hispanic Origin':
        data.set_value(index,'Race_Eth',4)
    elif h=='American Indian or Alaska Native Hispanic Origin':
        data.set_value(index,'Race_Eth',4)
    elif h=='Asian or Pacific Islander Hispanic Origin':
        data.set_value(index,'Race_Eth',4)
    elif h=='nan Hispanic Origin':
        data.set_value(index,'Race_Eth',4)
    
    elif h=='Prefer not to answer Not of Hispanic Origin':
        data.set_value(index,'Race_Eth',3)
    elif h=='White/Caucasian Not of Hispanic Origin':
        data.set_value(index,'Race_Eth',1)
    elif h=='Multiracial Not of Hispanic Origin':
        data.set_value(index,'Race_Eth',3)
    elif h=='Black/African-American Not of Hispanic Origin':
        data.set_value(index,'Race_Eth',2)
    elif h=='American Indian or Alaska Native Not of Hispanic Origin':
        data.set_value(index,'Race_Eth',3)
    elif h=='Asian or Pacific Islander Not of Hispanic Origin':
        data.set_value(index,'Race_Eth',3)
    
    elif h=='Prefer not to answer Prefer not to answer':
        data.set_value(index,'Race_Eth',np.nan)
    elif h=='White/Caucasian Prefer not to answer':
        data.set_value(index,'Race_Eth',np.nan)
    elif h=='Multiracial Prefer not to answer':
        data.set_value(index,'Race_Eth',np.nan)
    elif h=='Black/African-American Prefer not to answer':
        data.set_value(index,'Race_Eth',np.nan)
    elif h=='American Indian or Alaska Native Prefer not to answer':
        data.set_value(index,'Race_Eth',np.nan)
    elif h=='Asian or Pacific Islander Prefer not to answer':
        data.set_value(index,'Race_Eth',np.nan)

/Users/TFC-VLakshmanan/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:3: FutureWarning: get_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/TFC-VLakshmanan/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:27: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/Users/TFC-VLakshmanan/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:10: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # Remove the CWD from sys.path while we load stuff.
/Users/TFC-VLakshmanan/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:12: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  if sys.path[0] == '':
/Users/TFC-VLakshmanan/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:8: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/Users/TFC-VLakshmanan/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/Users/TFC-VLakshmanan/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:21: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/Users/TFC-VLakshmanan/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:18: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/Users/TFC-VLakshmanan/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/Users/TFC-VLakshmanan/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:23: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/Users/TFC-VLakshmanan/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:31: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/Users/TFC-VLakshmanan/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:34: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/Users/TFC-VLakshmanan/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:25: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/Users/TFC-VLakshmanan/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:40: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [45]:
data['Race_Eth'].value_counts()

4    60
2    35
3     8
1     2
Name: Race_Eth, dtype: int64